.container {
      position: relative;
      width: 100%;
   }

   .bg {
      position:relative;
      z-index: 1;
      height: 100%;
      min-width: 1000px;
      max-width: 1500px;
      margin: 0 auto;
   }

@media screen  {
         width: 100%;
}

.ideablock {
           margin: 5;
}

.avatar {
        float: left;
        margin: 0;
        margin-left: 5px;
        background-color: grey;
        border: 1px solid black;
}
.comment {
        background-color: white;
}

.ideacomments {
        margin: 0;
        margin-left: 35px;
        margin-bottom: 5px;

        background-color: white;
        border: 1px solid grey;
    }

.commenttextarea {
            background: none repeat scroll 0 0 #fff;
            border: medium none;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            -ms-border-radius: 4px 4px 0 0;
            -o-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            color: #777777;
            float: left;
            font-family: Lato;
            font-size: 14px;
            height: 142px;
            letter-spacing: 0.3px;
            padding: 20px;
            width: 100%;
            resize: vertical;
            outline: none;
            border: 1px solid #F2F2F2;
}
