<html>
  <head>
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
        <title>GreatIdea</title>
      {% endif %}
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
      <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <!--<link rel="stylesheet" type="text/css" href="static/css/pagination.css">-->
      <link rel="stylesheet" type="text/css" href="static/css/base.css">


  </head>

  <body>
    {% block content %}{% endblock %}
  </body>

  <footer>
      <hr>
      <div style="text-align:right;">
          Made by aba@home<br />
      </div>

      {% include '_flashes.html' %}
  </footer>
</html>