<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body>


<div class="container">
  <h2>Great Ideas</h2>
 <br>
   <!-- block for each idea and its  comments -->
  <div class="media">
    <div class="media-left">

      <img src="static/images/img_avatar2.png" class="media-object" style="width:45px">
    </div>
    <div class="media-body">  <!-- idea post -->

      <p class="media-heading"> <small>aba<i> Posted on February 19, 2016</i></small></p>
      <div>This is idea post by aba. posted and will keep posting.posted and will keep posting.</div>
      <div class="footer">
      <div align=right><small>Comment...</small></div>
      </div>
      <!-- Comment 1 -->
      <div class="media">
        <div class="media-left">
          <img src="static/images/img_avatar2.png" class="media-object" style="width:45px">
        </div>
        <div class="media-body">
          <p class="media-heading"><small>Commenter #1 <i>Posted on February 19, 2016</i></small></p>
          <p>This is the first comment to the great post - comment 1..</p>
       </div>
      </div>
      <!-- end of comment -->

    </div>
  </div>		<!-- each idea with comments -->





</div> 			<!-- page container -->

</body>
</html>
