<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/register.css">
</head>
<body>

<h1>Your account was created, please cheack your email for pin to activate your account.</h1>
<form name="reguster" class="form" action="/Submitpin" method="POST" style="border:1px solid #ccc">
  <div class="container">
      <label><b>Pin-code</b></label>
      <input type="text" placeholder="Enter your pin" name="pin" required>
      <div class="clearfix">
        <button type="submit" class="Pin">Submit</button>
      </div>
  </div>
</form>


<A href="/">Main page</a>

</body>
</html>
